:root {
  --background-color-primary: #F2F2F2;
  --background-color-secondary: #ffffff;
  --background-input-field: #F9FAFB;

  --color-brand: #30C2DB;
  --color-gray-600: #2d2525;

  --color-text-100: #000000;
  --color-text-200: #0d1116;
  --color-text-900: #ffffff;
  /* --background-color-primary: #0d1116;
  --background-color-secondary: #262730;
  --background-input-field: #363744;

  --color-gray-600: #2d2525;

  --color-text-100: #000000;
  --color-text-900: #ffffff;
  --previous-active-color: #FF4B4B*/

  --color-brand-primary-100: #104a45;
  --color-brand-primary-200: #155d57;
  --color-brand-primary-300: #1d8279;
  --color-brand-primary-350: #219389;
  --color-brand-primary-400: #25a89c;
  --color-brand-primary-500: #2abbae;
  --color-brand-primary-600: #54c8be;
  --color-brand-primary-700: #7fd6ce;
  --color-brand-primary-800: #a9e3de;
  --color-brand-primary-900: #d4f1ee;
  --color-brand-primary-950: #f0fcfa;

  --color-brand-danger-100: #1e0705;
  --color-brand-danger-200: #380d0a;
  --color-brand-danger-300: #5b1510;
  --color-brand-danger-400: #8f2119;
  --color-brand-danger-500: #c42d22;
  --color-brand-danger-600: #da362b;
  --color-brand-danger-700: #e3675f;
  --color-brand-danger-800: #f7d2cf;
  --color-brand-danger-900: #fae6e5;

  --color-brand-neutral-100: #000000;
  --color-brand-neutral-200: #1e2229;
  --color-brand-neutral-300: #3d4452;
  --color-brand-neutral-400: #5b667b;
  --color-brand-neutral-500: #7e89a0;
  --color-brand-neutral-600: #d0d4dc;
  --color-brand-neutral-700: #e2e4e9;
  --color-brand-neutral-800: #edeff2;
  --color-brand-neutral-850: #f6f6f6;
  --color-brand-neutral-900: #ffffff;

  --color-brand-warn-100: #220f02;
  --color-brand-warn-200: #3f1c04;
  --color-brand-warn-300: #652e06;
  --color-brand-warn-400: #9f480a;
  --color-brand-warn-500: #d8630d;
  --color-brand-warn-600: #f17013;
  --color-brand-warn-700: #f4924b;
  --color-brand-warn-800: #fcdfca;
  --color-brand-warn-900: #fdede2;

  --color-brand-info-100: #070f1d;
  --color-brand-info-200: #0d1c35;
  --color-brand-info-300: #152e56;
  --color-brand-info-400: #214887;
  --color-brand-info-500: #004d80;
  --color-brand-info-525: #24628f;
  --color-brand-info-550: #6691f0;
  --color-brand-info-600: #3670ce;
  --color-brand-info-650: #5145e7;
  --color-brand-info-700: #6793da;
  --color-brand-info-750: #378fe9;
  --color-brand-info-800: #d2dff4;
  --color-brand-info-900: #e6edf9;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: "Avenir", sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  font-size: 1.4rem;
  line-height: 1;
  min-height: 100vh;
  color: var(--color-text-200);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  border-radius: 7px;
  background-color: #303030;
  border: 0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.6);
}
.form-field {
  position: relative;
  width: 100%;
}
.error-message {
  color: var(--color-brand-danger-700);
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 1rem 0 0;
  position: absolute;
}
.filepond--wrapper {
  border-radius: 1rem !important;
  height: 100% !important;
  overflow: auto !important;
}
.filepond--drop-label {
  background-color: var(--background-input-field) !important;
  border-radius: 1rem;
  border: 5px #D1D5DC dashed !important;
  color: var(--color-text-200) !important;
  cursor: pointer !important;
  font-size: 2rem !important;
  justify-content: flex-start !important;
  min-height: 300px !important;
  padding: 3rem !important;
}
.filepond--drop-label label:first-child {
  height: 100% !important;
}
.filepond--drop-label label {
  align-items: baseline !important;
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}
.filepond--panel-bottom {
  background-color: var(--background-color-secondary) !important;
}
.filepond--panel-center,
.filepond--panel-top {
  background-color: var(--background-color-secondary) !important;
}
.filepond--label-columns {
  align-items: center !important; 
  display: flex !important;
  flex-direction: column;
  gap: 2rem;
  height: 100% !important;
  justify-content: center !important; 
  text-align: center;
  width: 100% !important;
}
.filepond--label-columns .upload-icon {
  color: #adb1b9 !important;
  width: 5% !important;
}
.filepond--label-columns .label-column-one {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.filepond--label-action {
  background-color: #30C2DB;
  border-radius: 1rem !important;
  border: 1px solid #24b5ce !important;
  color: var(--color-text-900);
  padding: 1.2rem 1rem 1rem !important;
  text-decoration: none !important;
  transition: all 0.3s ease !important;
}
.filepond--label-action:hover {
  background-color: #20a2b8;
}
.filepond--file {
  color: var(--color-text-200) !important;
  font-size: 2rem !important;
}
.filepond--file-info {
  color: var(--color-text-200) !important;
  padding-left: 3rem !important;
}
.box-shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.box-shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.status-success {
  background-color: #00CC88;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
}
.status-pending {
  background-color: #FF8C00;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
}

.status-danger {
  background-color: #FE3366;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
}

.status-info {
  background-color: var(--color-brand-info-600);
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
}

.status-default {
  background-color: var(--color-brand-neutral-600);
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
}