:root {
  --background-color-primary: #0d1116;
  --background-color-secondary: #262730;
  --background-input-field: #363744;

  --color-gray-600: #2d2525;

  --color-text-100: #000000;
  --color-text-900: #ffffff;

  --color-brand-primary-100: #104a45;
  --color-brand-primary-200: #155d57;
  --color-brand-primary-300: #1d8279;
  --color-brand-primary-350: #219389;
  --color-brand-primary-400: #25a89c;
  --color-brand-primary-500: #2abbae;
  --color-brand-primary-600: #54c8be;
  --color-brand-primary-700: #7fd6ce;
  --color-brand-primary-800: #a9e3de;
  --color-brand-primary-900: #d4f1ee;
  --color-brand-primary-950: #f0fcfa;

  --color-brand-danger-100: #1e0705;
  --color-brand-danger-200: #380d0a;
  --color-brand-danger-300: #5b1510;
  --color-brand-danger-400: #8f2119;
  --color-brand-danger-500: #c42d22;
  --color-brand-danger-600: #da362b;
  --color-brand-danger-700: #e3675f;
  --color-brand-danger-800: #f7d2cf;
  --color-brand-danger-900: #fae6e5;

  --color-brand-neutral-100: #000000;
  --color-brand-neutral-200: #1e2229;
  --color-brand-neutral-300: #3d4452;
  --color-brand-neutral-400: #5b667b;
  --color-brand-neutral-500: #7e89a0;
  --color-brand-neutral-600: #d0d4dc;
  --color-brand-neutral-700: #e2e4e9;
  --color-brand-neutral-800: #edeff2;
  --color-brand-neutral-850: #f6f6f6;
  --color-brand-neutral-900: #ffffff;

  --color-brand-warn-100: #220f02;
  --color-brand-warn-200: #3f1c04;
  --color-brand-warn-300: #652e06;
  --color-brand-warn-400: #9f480a;
  --color-brand-warn-500: #d8630d;
  --color-brand-warn-600: #f17013;
  --color-brand-warn-700: #f4924b;
  --color-brand-warn-800: #fcdfca;
  --color-brand-warn-900: #fdede2;

  --color-brand-info-100: #070f1d;
  --color-brand-info-200: #0d1c35;
  --color-brand-info-300: #152e56;
  --color-brand-info-400: #214887;
  --color-brand-info-500: #004d80;
  --color-brand-info-525: #24628f;
  --color-brand-info-550: #6691f0;
  --color-brand-info-600: #3670ce;
  --color-brand-info-650: #5145e7;
  --color-brand-info-700: #6793da;
  --color-brand-info-750: #378fe9;
  --color-brand-info-800: #d2dff4;
  --color-brand-info-900: #e6edf9;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: "Avenir", sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  font-size: 1.4rem;
  line-height: 1;
  min-height: 100vh;
  color: var(--color-text-900);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.form-field {
  position: relative;
  width: 100%;
}
.error-message {
  position: absolute;
  display: block;
  color: var(--color-brand-danger-700);
  margin: 1rem 0 0;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}
